@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 241, 238);
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }

  @media (min-width: 700px) {
body {
    display: grid;
    place-items: center;
    min-height: 92vh;
}
  }

  /* WHOLE ASS THING */
main {
    display: block;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    max-width: 540px;
    margin: 0 auto;
}

@media (min-width: 700px) {
main {
    max-width: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 8vw;
}
} 

@media screen and (max-width: 680px) {
    main {
        margin: 8vh 8vw;
    }
}

/* img */
img {
    display: block;
    max-width: 100%;
}

@media (min-width: 700px) {
img {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 58% 50%;
}
}

/* LEFT CONTAINER */
.left-container {
    max-width: 540px;
    color: white;
    /* margin: 0; */
    padding: 5rem 4rem 4rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.words {
    color: rgb(66, 66, 66);
    letter-spacing: 0.1em;
}

.artist-name {
    margin: 1em 0 1em 0;
}

.material-icons {
    color: rgb(66, 66, 66);
}

.material-icons:hover {
    color:rgba(56, 46, 46, 0.5);
    cursor: pointer;
}

@media (min-width: 700px) {
    .left-container {
        max-width: none;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

@media screen and (max-width: 1100px) {
    .left-container {
        padding: 2.5rem 3rem 2.5rem;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}

.material-icons {
    margin: .5rem;
}

.rewind {
    font-size: 3em;
}

@media screen and (max-width: 1000px) {
    .rewind {
        font-size: 2.5em;
    }
}

.play {
    font-size: 4em;
}

@media screen and (max-width: 1000px) {
    .play {
        font-size: 3em;
    }
}

.fast-forward {
    font-size: 3em;
}

@media screen and (max-width: 1000px) {
    .fast-forward {
        font-size: 2.5em;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0 0 0;
}
    
.key {
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.5em;
    border: 0.4em solid rgb(66, 66, 66);
    margin: 0 1em 0 1em;
    box-shadow: 7px 7px 0 0 rgba(19, 19, 19, 0.15);
}

.pressed {
    animation: shadow-pulse 1s infinite;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}


